<section class="legend-status-section">
  <div class="background-effects"></div>
  <div class="container mx-auto px-6 h-full flex flex-col items-center justify-center text-center">
    <h2 class="text-6xl md:text-8xl font-extrabold font-cinzel text-[#FFD97D] title-glow legend-title-anim">
      {{ translationService.translate('legend.title') }}
    </h2>
    <a routerLink="/download" class="shimmer-btn bg-[#E18D5C] text-white font-bold py-4 px-10 rounded-md text-xl hover:bg-[#d47845] btn-cta-glow mt-12 legend-cta-anim">
      {{ translationService.translate('legend.cta') }}
    </a>
  </div>
</section>